.todo-container {
  margin: 50px auto;
  width: 600px;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.todo-title {
  font-size: 50px;
  margin: 15px;
  color: rgb(179, 102, 35);
  text-align: center;
  font-weight: 600;
}

.todo-new {
  width: 100%;
  display: flex;
  gap: 15px;
  justify-content: center;
}
.todo-new button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
.todo-new button:hover {
  background-color: #498eb5aa;
}

.todo-data {
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.todo-image {
  text-align: center;
  margin-top: 15px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
